*{
  margin:0;
  padding:0;
}

/* NAV */
nav{
  color:#fff;
  position: sticky;
  top:0;
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
  margin-bottom: 50px;
}
#tema{
  background: none;
  border:none;
}

#imagenBtn{
  padding: 25px;
  width: 30px;
  height: 30px;
}

/* BODY */
body{
  background-color:#6482AD;
  font-family: "Montserrat", sans-serif;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  color:#202020;
}
main{
  padding:50px;
}
#titulos{
  width: 750px;
  padding: 25px;
  
}
#link{
  text-decoration:none;
  color:#202020;
}
@media (max-width:800px) {
  #titulos{
    width: 100%;   
  }
  #titulos > p{
    padding: 25px;
  }
  #imagenBtn{
    padding: 10px;
    width: 15px;
    height: 15px;
  }
}
h1{
  font-size: 40px;
  margin:50px 15px;
}
p{
  text-align: left;
  line-height: 2;
  font-size: 15px;
}

/* FOOTER */
footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #8576FF;
  bottom:0 ;
  position: absolute;
}
@media (max-width:650px) {
  footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: static;
    bottom: auto;
  }
}
#redes  img{
  width: 50px;
  height: 50px;
  margin:10px 20px;
}
footer > a{
  text-decoration: none;
  color:white;
  display: flex;
  align-items: center;
}
